env/
.venv/
.pythonenv/
__pycache__/
*.py[cod]
*$py.class
*.env
.env.*
*.ini
config.py
instance/
instance/*
*.log
*.out
*.err
.DS_Store
Thumbs.db
*.tmp
.vscode/
.history/
.idea/
dist/
build/
*.egg-info/
.eggs/
.coverage
htmlcov/
.tox/
.pytest_cache/
*.sqlite
*.db
*.bak
*.swp
